/*
Fogbelt Neighborhood Map App - styles
*/
html {
	height: 100%
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#container {
	width: 100%;
	height: 100%;
}

#map {
	width: 100%;
	height: 100%;
	background-color: #ccc;
}

#header {
	position: fixed;
	width: 100%;
	height: 100px;
	top: 0;
	left: 0;
	background-color: #333;
	opacity: 1;
	z-index: 110;
	text-align: center;
}

.hamager {
	font-size: 38px;
	color: #4a8ffb;
	margin-top: 10px;
	float: right;
	margin-right: 20px;
}

.logo {
	float: left;
}

h1 {
	font-family: 'Oxygen', san-serif;
	letter-spacing: .02em;
	font-weight: 700;
	font-size: 1.6em;
	color: #aaa;
}

h3 {
	font-family: 'Oxygen', san-serif;
	font-weight: 400;
	color: #555;
}

.info-win-title {
	margin-top: 0;
}

#nav-bar {
	position: fixed;
	width: 210px;
	height: 100%;
	top: 100px;
	left: -200px;
	background-color: #666;
	z-index: 100;
	backface-visibility: hidden;/* Add to improve animations with GPU acceleration - as per Udacity Reviewer */
  	will-change: transform;/* Add to allow browser to determine if it should create a new layers */
}

.sidebar-input{
	margin-left: 20px;
	margin-top: 12px;
}

#places-list {
	list-style: none;
	padding-left: 0;
}

.nav-li {
	font-family: 'Oxygen', san-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px 0 6px 20px;
	margin: 5px 0;
	color: #ffffff;
}

.nav-li:hover {
	background-color: #333;
}

.lightest-grey {
	color: #cdcdcd;
}

.sub-text {
	font-family: 'Passion One', san-serif;
	font-size: 1em;
	margin-left: 20px;
}

#info-win-interior {
	max-height: 240px;
}

#fs-container {
	min-height: 150px;
}

#fs-here {
	float: left;
	margin: 0 12px 12px 0;
}

@media screen and (max-width: 600px) {
	h1 {
		font-size: 1em;
		margin: 0 25px 0 0;
	}

	.nav-li {
		font-size: 16px;
		margin-bottom: 10px;
	}

	#header {
		text-align: center;
	}

	.logo {
		width: 60%;
		height: 70%;
		clear: both;
		float: none;
	}

 }